RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?justjoesmusic\.com
RewriteRule ^(.*)$ https://justjoesmusic.com/$1 [R,L]

<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf|html|php)$">    
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=60, public, must-revalidate"
  </IfModule>    
</FilesMatch>

SetEnv CAPTCHA_SECRET "6LdzJssUAAAAAM4z9svKNCFrtz3uz7J5VEcr67OE"
SetEnv CAPTCHA_V3_SECRET "6LfHZMwUAAAAAC3Jx0Cy3w7PIh8eiCmwaaaUoeSQ"
SetEnv DB_NAME "justjoes"
SetEnv DB_USER "php_app"
SetEnv DB_PASSWORD "yR^x5a3eD4K6Eyk0mYC"